
.titulo {
    text-align: center;
    justify-content: center;
    color: #02fd24;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    background-color: #000000;
    padding: 40px;
}




